h2 {
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    line-height: 1.2;
}

h3 {
    font-size: 40px;
    font-weight: 400;
    white-space: nowrap;
}

h3::before {
    content: "--- ";
}

.initial {
    font-size: 50px;
    font-weight: 380;
    color: #FFFEF6;
    display: flex;
    width: 55px;
    height: 55px;
    background: #4784BF;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}



.section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card {
    background: #FFFEF6;
    padding: 50px 70px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 20px;
    line-height: 1.7;
}

section {
    background: #E6E7E8;
    width: 65%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    border-radius: 30px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.4);
    font-size: 25px;
    border: #4784BF 5px solid;
}

/* profile */

.profile-name {
    font-size: 40px;
    text-align: center;
}

.chara {
    width: 100%;
    max-width: 300px;
    height: auto;

    border-radius: 50%;
    margin: 0 auto;
}

.link-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    gap: 50px;
}

.link {
    background: #4784BF;
    padding: 5px 15px;
    color: #F7FCFE;
    border-radius: 10px;
}

.link::after {
    content: "→";
    margin-left: 5px;
}

/*  skills */
.skills-wrapper {
    margin-top: 15px;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}

.lt {
    border-radius: 10px;
    width: fit-content;
    padding: 3px 10px;
    background-color: #E6E7E8;
}

.learning {
    background: #d9ebff;
    color: #2b5d93;
}

/* journey */
.journey-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.journey-item {
    position: relative;

}

.date {
    margin: 5px 0;
}

.date::before {
    content: "●";
    margin-right: 4px;
}

.journey-text {
    margin: 0;
    padding-left: 30px;
}

.journey-text::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 43px;
    width: 2px;
    height: 90%;
    background: currentColor;
}

.journey-item:last-child .journey-text::before {
    display: none;
}

@media (max-width:1039px) {
    .link-wrapper {
        gap: 15px;
    }
}

@media (max-width:760px) {
    section {
        width: 80%;
    }

    .card {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width:550px) {
    .card {
        padding-left: 10px;
        padding-right: 10px;
    }

    h3::before {
        display: none;
    }
}

@media (max-width:460px) {
    section {
        width: 95%;
    }
}

@media (max-width:370px) {
    h3 {
        white-space: normal;
    }
}