* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
}

body,
html {
    overflow-x: hidden;
    overflow-y: hidden;
}

.triangle {
    background: black;
    width: 100vw;
    height: 130vh;
    clip-path: polygon(30% 0, 0 50%, 70% 100%);
    transform: rotate(85deg);
    position: absolute;
    left: -20%;
    top: 25%;
    z-index: -1;
}

.bg {
    font-size: 20vh;
    color: #adaaaa1e;
    position: absolute;

    line-height: 1;
    z-index: -2;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
}

.bg.bg-top {
    left: 0;
    top: 20%;
    animation: scroll-right 70s linear infinite;
}

.bg.bg-bottom {
    right: 0;
    bottom: 5%;
    animation: scroll-left 70s linear infinite;
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100vw);
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100vw);
    }
}

.inversion {
    color: white;
    mix-blend-mode: difference;
}

body {
    color: black;
    background: white;
    height: 100dvh;
}

header {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    padding: 50px 80px;
    font-size: 40px;
}

.name {
    line-height: 1;
    font-size: clamp(30px, 5vw, 40px);
}

.page-nav ul {
    display: flex;
    gap: 80px;

}

.page-nav a {
    display: inline-block;
}

.page-nav a:hover {
    border-bottom: 5px solid white;
}



.main-title {
    font-size: 160px;
    font-weight: 395;
    line-height: .95;
    position: absolute;
    top: 40%;
    left: 10%;
    white-space: nowrap;
}

.main-indent {
    display: inline-block;
    margin-left: clamp(50px, 20vw, 300px);
}

.sub-title {
    position: absolute;
    top: 60%;
    right: 5%;
    font-size: 50px;
    font-weight: 450;
    white-space: nowrap;
}

.sub-indent {
    display: inline-block;
    margin-left: 100px;
    font-weight: 450;
}

.hero {
    height: 80vh;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}


#btn {
    position: relative;
    z-index: 2;
    display: none;
    flex-direction: column;
    gap: 5px;
    padding-top: 13px;
    background: transparent;
    border: none;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.4s;
    width: clamp(35px, 5vw, 50px);
    height: 5px;
    background: black;
    border-radius: 5px;
}

.bar:nth-child(1) {
    top: 12px;
}

.bar:nth-child(2) {
    top: 24px;
}

.bar:nth-child(3) {
    top: 36px;
}

.bar:nth-child(4) {
    top: 48px;
}

/* iosレスポンシブ */
body.ios .triangle {
    display: none;
}

body.ios .inversion {
    mix-blend-mode: normal;
    color: black;
}

/* titleのレイアウト変更*/
/* 
　　　　jsの処理内容
　・height　630px以下でbr削除
  ・ heigth 630px以下　or
   width 1024px以下でtriangleの親を
   サブタイトルに変更
*/
@media (max-width:1024px),
(max-height:630px) {
    .hero {
        flex-direction: column;
        gap: 5vh;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .main-title {
        position: static;
        width: fit-content;
        text-align: center;
        margin-top: 3vh;
        font-size: clamp(100px, 25vw, 160px);
    }

    .sub-title {
        position: relative;
        top: 0;
        right: 0;
        font-size: clamp(30px, 7vw, 50px);
    }

    .main-indent,
    .sub-indent {
        margin: 0;
    }

    .triangle {
        width: 130vw;
        height: 50vh;
        top: -25vh;
        left: -30vw;
        transform: rotate(-20deg);
    }
}

/*ナビボタン*/
@media(max-width:1000px) {
    .page-nav {
        position: absolute;
        inset: 0;
        width: 100dvw;
        height: 100dvh;
        background-color: rgba(255, 255, 255, 0.45);
        backdrop-filter: blur(13px);
        -webkit-backdrop-filter: blur(10px);
        z-index: 1;
        transform: translateY(-100%);
        opacity: 0;
        transition: all 0.4s ease;
    }

    .page-nav.open {
        opacity: 1;
        transform: translateY(0);
    }

    .page-nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20dvh;
    }

    .page-nav a {
        color: black;
        z-index: 2;
        border-bottom: 5px solid rgba(0, 0, 0, 0);
    }

    .page-nav a:hover {
        border-bottom: 5px solid rgb(0, 0, 0);
    }

    #btn {
        display: block;
    }

    .bar {
        display: block;
    }



    .active .bar:nth-child(1),
    .active .bar:nth-child(4) {
        opacity: 0;
    }

    .active .bar:nth-child(2),
    .active .bar:nth-child(3) {
        position: absolute;
        top: 50%;
        left: 50%;
        background: black;
        mix-blend-mode: normal;
    }

    .active .bar:nth-child(2) {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .active .bar:nth-child(3) {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

}

/* headerの位置調整 */
@media (max-width:500px) {
    header {
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media (max-height:390px) {
    header {
        padding-top: 40px;
    }
}

/* ナビリンクの位置調整 */
@media (max-height:520px) {
    .page-nav ul {
        gap: 0;
        margin: 0;
        height: 100%;

    }

    .page-nav a {
        display: block;
    }

    .page-nav li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
}