/* ここからworks ========================================= */
#container {
    margin: 0 20px;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px;
    background: #E6E7E8;
    border-radius: 30px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.4);
}

.works-item {
    max-width: 400px;
    border: black solid;
    background: #FFFEF6;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 4px;
}

.works-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    border-bottom: dotted black 2px;
}

.tech-tag {
    display: inline-block;
    background-color: #E6E7E8;
    color: black;
    font-size: 11px;
    font-weight: 500;
    padding: 3px 10px;
    border-radius: 40px;
    margin: 3px;
}

.works-item img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: black 2px solid;
}

.works-text {
    height: 100px;
    display: flex;
    align-items: center;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 5px;
}

.demo {
    background: #4784BF;
    color: #F7FCFE;
    border: 2px solid currentColor;
}

.github {
    background: #F7FCFE;
    border: 2px solid currentColor;
    color: #4784BF;
}

.btn::after {
    content: "→";
    margin-left: 5px;
}

@media(max-width:660px) {
    #container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ここまでworks============================================== */