* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    border: 5px solid black;
}

.game-wrapper {
    position: relative;
    width: 800px;
    height: 850px;
    transform-origin: center;
    transform: scale(clamp(0.2, calc(100vh / 860px), 1));
}

#field {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hold-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: absolute;
    top: 25px;
    left: 0;
}

.next-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 0;
}


.text {
    font-size: 1.5rem;
}

.control {
    position: absolute;
    left: 0;
    top: 30%;
}

.game-status {
    position: absolute;
    left: 0;
    top: 75%;
    font-size: 1.2rem;
    text-align: center;
    width: 170px;
    line-height: 2rem;
}

#message {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 800px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#message.none,
.none {
    display: none;
}

#level-setting {
    font-size: 2rem;
}

label {
    display: flex;
    gap: 20px;
    justify-content: center;
}

#start-level {
    width: 200px;
}