.clock-object {
    position: relative;
    width: var(--clock-width);
    height: var(--clock-height);
    opacity: var(--clock-opacity);
    border-radius: var(--clock-radius);
    border: var(--clock-bw) solid var(--clock-color);
    background-color: var(--clock-bg);
}

.minute-hand,
.hour-hand,
.second-hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left center;
}

.minute-hand {
    width: var(--minute-width);
    height: var(--minute-height);
    background-color: var(--minute-color);
    opacity: var(--minute-opacity);
    transform: translateY(-50%) var(--minute-transform);
}

.hour-hand {
    width: var(--hour-width);
    height: var(--hour-height);
    opacity: var(--hour-opacity);
    background-color: var(--hour-color);
    transform: translateY(-50%) var(--hour-transform);
}

.second-hand {
    width: var(--second-width);
    height: var(--second-height);
    opacity: var(--second-opacity);
    background-color: var(--second-color);
    transform: translateY(-50%) var(--second-transform);
}